* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    background: linear-gradient(#21c08b, #ab88ff);
}


.header{
    width: 100%;
    height: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__img{
height: 70px;
width: 200px;

}
 .header__menu {
justify-content: right;
margin-right: 10px;

 }

 .header__menu--perfil {
     display: flex;
     align-items: center;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     cursor: pointer;
 }
 
 .header__menu--lista {
     text-align: right;
     list-style: none;
     margin-right: 10px;
     font-family: Arial, Helvetica, sans-serif;
     
 }

 .header__menu ul {
     display: none;
 }

 .header__menu:hover ul, ul:hover {
     display: block;
 }

 .header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    /* cuando la flecha toque esta palabra
    aparece subrrayada */
    text-decoration: underline;
}

.buscador {
    height: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscador__title {
    color: white;
    font-size: 25px;
}

.buscador__input {
background-color: rgba(255, 255, 255, 0.1);
border: 2px solid white;
border-radius: 25px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
height: 40px;
padding: 0 20px;
width: 70%;
margin-top: 10px;
outline: none;
}

::placeholder {
    color: white;
}
/* es un pseudoelemento. todos los :placeholder 
seran de ese color */

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    /* todos los elementos dentro de el, se posicionan
    en relacion a el */
    overflow-x: hidden;
    overflow-y: hidden;

}

.carousel__container {
    white-space: nowrap;
    /* para que todo se acomode en la misma linea */
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: purple;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    /* el contenido que no entre en el contenedor, se ocultara
    segun lo que entre en el mismo. pero no se modifica
    el tamaño del contenedor */
    margin-right: 10px;
    display: inline-block;
    /* los elementos se posicionan uno al lado del otro */
    cursor: pointer;
    transition: 450ms all;
    /* esto permite que cuando el cursor pase por alli
    la transicion sea mas tranquila */
    transform-origin: center left;
    position: relative;
}  


.carousel-item:hover ~ .carousel-item
/* selector de hermanos generales, selecciona el 
segundo solo si esta precedido por el primero */ 
{
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    /* hace que cuando el cursor pase por arriba
    aumente su tamaño en 1.5. y con opacity
    que el que este seleccionado ya no se
    vea transparente */
    opacity: 1;
}

.carousel-item__img {
width: 200px;
height: 250px;
-o-object-fit: cover;
object-fit: cover;
/* hace que la imagen recupere su tamaño normal */ 
}

.carousel-itenm__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0pc;
    display: flex;
    align-items: flex-start;

}
.carousel-item__details--title {
  color: white;
  margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
  }

  .login {
      display: flex; 
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;
      min-height: calc(100vh - 200px);

  }


  .login__container-google, 
  .login__container-twitter {
      height: 15px;
  }

  .login__containter {
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid white;
      border-radius: 40px;
      color: white;
      padding: 60px 68px 40px;
      min-height: 700px;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}


.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
 
.login__container--remember-me a
{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
}

.login__container--remember-me a:hover
{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.login__container--social-media > div {
    /* el > quiere decir que agarre todos 
    los div de esa clase */
   display: flex;
   align-items: center; 
   font-size: 14px;
   margin-bottom: 10px;
}

.login__container--social-media > div > img {
    margin-right: 10px;
    width: 20px;
}

.login__container--register {
    font-size: 14px;
    
}

.login__container--register a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
    }

.login__container--register a:hover {
        text-decoration: underline
}

.input {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
    /* con ese height logramos el espacio entre inicio
    de seion y correo */
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.footer {
    
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    } 

    .footer a {
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;
    }

    .footer a:hover {
        text-decoration: underline;
    }