* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo--container {
    width: 100%;
    height: 0 auto;
    background: linear-gradient(to bottom, #21C08B, #5e1dfc);
}

.logo--container_platzi {
height: 70px;
width: 200px;
margin-top: 5px;
margin-left: 5px;
}